.header,
.form,
.footer,
.info,
.paper-title,
.no-print,
.pt-output {
    display: none!important;
}

.wallet-container {
    border-bottom: none;
    display: block;
    margin: 0;
    padding-bottom: 0;
}

.paper-wallet {
    margin: 0.5cm 0;
}

.container {
    margin: 0;
    padding: 0;
}

.page-break {
    page-break-before: always;
    padding-top: 1px;
}

img {
    max-width: 100% !important;
}

@page {
    size: 297mm 210mm;
    margin: 0.5cm 0.5cm;
}