@page {
	size: A4 landscape;
	max-height:100%;
	max-width:100%
}

.header,
.form,
.footer,
.info,
.paper-title,
.no-print,
.pt-output {
    display: none!important;
}

.wallet-container {
    border-bottom: none;
    display: block;
}

.page-break {
    page-break-before: always;
}