.header,
.form,
.footer,
.info,
.paper-title,
.no-print,
.pt-output {
    display: none!important;
}

.wallet-container {
    border-bottom: none;
    padding-bottom: 0px;
    display: block;
}

.page-break {
    page-break-before: always;
}